@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  margin-top: 50px;
  color: #1e1e4b;
  font-family: "futura-bold";
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 60px;
}

@media (max-width: 575px) {

  h1,
  .h1 {
    font-size: 45px;
  }
}

html,
body {
  height: 100%;
  align: center;
}

body {
  display: grid;
  place-items: center;
  background: #eee;
}

.card {
  border-radius: 20px;
  background: #eeeeee;
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
  border: none;
  margin-bottom: 10px;
  min-height: 346px;
  max-height: 346px;

}

.card img {
  border-radius: 50%;
  background: linear-gradient(145deg, #d6d6d6, #ffffff);
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
}

.neo-button {
  width: 40px;
  height: 40px;
  outline: 0 !important;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  border: none;
  margin-right: 10px;
  border-radius: 50%;
  background: linear-gradient(145deg, #d6d6d6, #ffffff);
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
}

.neo-button:active {
  border-radius: 50%;
  background: linear-gradient(145deg, #d6d6d6, #ffffff);
  box-shadow: inset 20px 20px 60px #cacaca, inset -20px -20px 60px #ffffff;
}

.fa-facebook {
  color: #3b5998;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-github {
  color: black;
}

.fa-instagram {
  color: black;
}

.footer-size{
  width: 100%;
}