* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .section-padding {
    padding: 40px 0px;
  }
  .section-header {
    border-bottom: 3px solid #e5e5e5;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  
  /* contact us styles */
  .contacting-members {
    text-align: center;
  }
  .contacting-members div {
    border-radius: 18px;
    margin: 15px 8px;
    padding: 15px 5px;
    box-shadow: 0px 0px 11px #e82121;
    border: 2px solid rgb(246, 234, 13);
  }
  
  .advisory-name > p {
    text-align: left;
    margin: 2%;
  }
  
  .contacting-members div p {
    margin-bottom: 0px;
  
  }
  
  .contacting-members div p a:link {
    text-decoration: none;
    color: steelblue;
    line-height: 1.5;
  }
  
  .contacting-members div p a:hover {
    text-decoration: underline;
  }

  
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  /* border-width: 1px 0; */
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: #999;
}

.footer {
  background: #29363e;
  color: #fff;
  margin-top: 3rem;
}

.footer .nav-link {
  color: #fff;
}
  